<div class="card col-lg p-3 mt-1 mx-1 rounded-0">
    <div class="textimage">
        {{ with .Params.Image }}
            <a href="{{$.Permalink}}">
                <img src="{{ . | absURL }}" alt="articleimg" class="card-img-top rounded-0" id="sumImg">
            </a>
        {{ end }}
        <h4 class="card-title title-over-image">{{ .Title }} ({{ .Params.Year }})</h4>
    </div>
    
    <div class="card-body">                          
        <p class="card-text">
            {{ .Params.Description }}
        </p>
        <a href="{{.Permalink}}" class="card-link">Details</a>
    </div>
</div>