.navbar {
  min-height: 80px; }

.folio-bg {
  background-color: rgba(0, 0, 0, 0.7); }

.bg-img {
  background: url("../img/bg.png");
  background-attachment: fixed; }

.bg-yellow {
  background-color: #f4e784; }

.bg-apricot {
  background-color: #e4a788; }

.bg-bordeaux {
  background-color: #b26d70; }

.bg-sky {
  background-color: #90b8c4; }

.bg-ocean {
  background-color: #667899; }

.text-yellow {
  color: #f4e784; }

.text-apricot {
  color: #e4a788; }

.text-bordeaux {
  color: #b26d70; }

.text-sky {
  color: #90b8c4; }

.text-ocean {
  color: #667899; }

.card {
  background-color: white;
  border: 2px solid #b26d70; }

.textimage {
  position: relative; }

.card-title {
  color: #667899;
  text-shadow: 1px 1px 1px white;
  background-color: #f4e784;
  opacity: 0.9; }

.title-over-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.card-link {
  text-align: end; }

.brand-icon {
  height: 48px; }

.carousel-inner {
  height: 400px; }

.article-body {
  background-color: white;
  border: 2px solid #b26d70; }
